.page{
  width: 100%;
  height: 100%;
}

.header{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.header__ttl{
  display: inline;
  margin-left: 20px;
  color: rgb(7, 7, 132);
}

.header__btn{
  display: inline-block;
  margin-right: 20px;
}

.header__btn-ul{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.btn{
  text-decoration: none;
  color: rgb(7, 7, 132);
  font-size: 12px;
}

.header__btn-ul-business_act{
  margin-left: 20px;
}

.header__btn-ul-hr_inf {
  margin-left: 20px;
}

.header__btn-ul-inq {
  margin-left: 20px;
}

.main{
  position: relative;
  top: 100px;
  width: 100%;
  z-index: 10;
}

.main__big_box {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.main__big_box-blue {
  background-color: rgb(7, 7, 132);
  width: 100%;
  height: 70%;
}

.main__big_box-ttl {
  font-size: 44px;
  font-weight: 100;
  font-family: Helvetica, "游ゴシック", sans-serif;
}

.main__img{
  margin: 0 0 auto auto;
  width: 50%;
  z-index: 10;
}

.main__img img{
  width: 100%;
  margin-bottom: 50px;
}



