.page{
  width: 100%;
}

.header{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.header__ttl{
  display: inline;
  margin-left: 20px;
  color: rgb(7, 7, 132);
}

.header__btn{
  display: inline-block;
  margin-right: 20px;
}

.header__btn-ul{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.btn{
  text-decoration: none;
  color: rgb(7, 7, 132);
  font-size: 12px;
}

.header__btn-ul-business_act{
  margin-left: 20px;
}

.header__btn-ul-hr_inf {
  margin-left: 20px;
}

.header__btn-ul-inq {
  margin-left: 20px;
}

.main{
  position: relative;
  top: 100px;
  width: 100%;
  height: 60vh;
}

.main__ttl {
  position: absolute;
  top: 30%;
  left: 0;
  height: 20%;
  font-size: 40px;
  font-weight: 100;
  font-family: Helvetica, "游ゴシック", sans-serif;
  padding-bottom: 0%;
  z-index: 2;
  display: flex;
  align-items: flex-end;
}

.main__ttl-content{
  z-index: 4;
}

.main__box {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: rgb(7, 7, 132);
  width: 80%;
  height: 40%;
  z-index: 0;
}


.main__img{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 70%;
  z-index: 20;
}

.main__img img{
  width: 100%;
  z-index: 100;
}



